# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Distribution / packaging
bdist.win-amd64/
dist/
lib/
*.egg-info/
.pypirc

# Virtual environments
.venv/

# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/
coverage.xml

# For MacOS
.DS_store